---
title: A Page for You
layout: base.njk
---

 <div class="container">
        <h1>Te quiero</h1>
        <div class="vibe">You are great</div>
        <div class="love">
            💓
        </div>
    </div>
<script src="js/vibe.js"></script>